<div class="card">
    <div class="card__header">
        <div class="card__header--imgProjeto" style="background-image: url('/assets/img/projeto-mock.png');"></div>
        <span class="card__header--categoria">
            <img src="/assets/img/categorias/comida.png" alt="">
        </span>
    </div>

    <div class="card__body">

        <div class="card__body--title">
            <div class="left">
                <h2>Alimentos para creche Maria M...</h2>
                <p>Creche Maria madalena</p>
            </div>

            <div class="right">
                <span class="material-icons">
                    favorite_border
                </span>
            </div>
        </div>


        <div class="card__body--localizacao">
            <img src="/assets/img/icon/location.svg" alt="">
            <p>Salvador, Bahia - 7.4km</p>
        </div>

        <div class="card__body--meta">
            <div class="left">
                <p>R$ 20.985,70<span>arrecadados</span></p>
            </div>

            <div class="right">
                <p>Meta <span>R$36.000</span></p>
            </div>
        </div>

        <div class="card__body--porcentagem">
            <div class="qtd-percent"></div>
        </div>

        <div class="card__body--socialInfo">
            <div class="left">
                <div>
                    <span class="material-icons">
                        groups
                    </span>
                    <p>355</p>
                </div>
                <div>
                    <span class="material-icons">
                        question_answer
                    </span>
                    <p>2</p>
                </div>
                <div>
                    <span class="material-icons">
                        thumb_up_off_alt
                    </span>
                    <p>10</p>
                </div>
            </div>

            <div class="right">
                <span class="material-icons">
                    schedule
                </span>
                <p>10/03/2020</p>
            </div>
        </div>
    </div>
</div>