<div class="card">
    <div class="card__header" (click)="irParaProjeto()">
        <div class="card__header--imgProjeto">
            <img [src]="projeto.thumb" alt="" srcset="" *ngIf="projeto.thumb">
            <img src="/assets/img/bg/image-not-found.jpg" alt="" srcset="" *ngIf="!projeto.thumb">

            <!-- <div *ngIf="projeto.mime === 3">
                <video width="100%" height="100%" [src]="projeto.endereco" controls>
                    Your browser does not support HTML5 video.
                </video>
            </div>

            <div *ngIf="projeto.mime === 1">
                <iframe width="100%" [src]="montarIframeYoutube(projeto.endereco) | safe"></iframe>
            </div> -->

        </div>
    </div>

    <div class="card__body">

        <div class="card__body--title" (click)="irParaProjeto()">
            <div class="left">
                <h2>{{ projeto.title }}</h2>
                <p>{{ projeto.description | truncate:[35, '...'] }} </p>
            </div>

            <!-- <div class="right">
                <span class="material-icons">
                    favorite_border
                </span>
            </div> -->
        </div>


        <div class="card__body--localizacao" (click)="irParaProjeto()">
            <div class="left">
                <img src="/assets/img/icon/location.svg" alt="">
                <p>{{ projeto.city }}, {{ projeto.uf }} - {{ arredondarKM(projeto.distanceKm) }} Km</p>
            </div>

            <div class="right">
                <span class="material-icons">
                    schedule
                </span>
                <p>{{ projeto.publishDateTime }}</p>
            </div>
        </div>

        <div class="card__body--meta" (click)="irParaProjeto()">
            <div class="left">
                <p>{{ projeto.valorDoado | currency:'BRL' }}<span>arrecadados</span></p>
            </div>

            <div class="right">
                <p>Meta <span>{{ projeto.goal | currency:'BRL' }}</span></p>
            </div>
        </div>

        <div class="card__body--porcentagem" (click)="irParaProjeto()">
            <div class="qtd-percent" [style.width.%]="calcularRegraDeTres(projeto.valorDoado, projeto.goal)"></div>
        </div>

        <div class="card__body--socialInfo">
            <div class="left">
                <div (click)="irParaProjetoExpand(1)">
                    <span class="material-icons">
                        groups
                    </span>
                    <p>{{ projeto.peopleAmount }}</p>
                </div>
                <div (click)="irParaProjetoExpand(2)">
                    <span class="material-icons">
                        question_answer
                    </span>
                    <p>{{ projeto.comentarios }}</p>
                </div>
                <div (click)="abrirModalAppLoja()">
                    <span class="material-icons">
                        thumb_up_off_alt
                    </span>
                    <p>{{ projeto.likes }}</p>
                </div>
            </div>

            <div class="right">
                <span>
                    {{ procurarCategoria(projeto.subjectId) }}
                </span>
            </div>
        </div>
    </div>
</div>