<div class="container">
  <div class="home-page">
    <div class="home-page__filters">
      <div class="home-page__filters--left">
        <h2>
          <span class="material-icons">
            public
          </span>
          Explore Nossos Projetos Ativos
        </h2>

        <div class="tune" [matMenuTriggerFor]="menu">
          <span class="material-icons">
            tune
          </span>
        </div>
      </div>


      <div class="home-page__filters--right">
        <div class="search">
          <span class="material-icons bola-pesquisar" (click)="pesquisarProjeto()">
            search
          </span>


          <span class="material-icons close-button" *ngIf="verificarCampoPesquisa()" (click)="zeraBuscaProjeto()">
            close
          </span>


          <input type="text" (input)="verificarInputPesquisa()" [(ngModel)]="query"
            placeholder="Pesquise por Titulo, Descrição ou Responsável">
        </div>

        <div class="tune" [matMenuTriggerFor]="menu">
          <span class="material-icons">
            tune
          </span>
        </div>
      </div>

    </div>

    <div class="home-page__mapsProject">
      <div class="home-page__mapsProject--left">
        <h3>Categorias</h3>

        <div class="list-categorias">
          <ul>
            <li [ngClass]="{active: categoriaEscolhida === null}" (click)="mudarCategoriaProjeto(null)">
              <span>Todas</span>
            </li>
            <li *ngFor="let item of categorias" (click)="mudarCategoriaProjeto(item.id)"
              [ngClass]="{active: item.id === categoriaEscolhida}"><span>{{ item.title }}</span></li>
          </ul>
        </div>
      </div>


      <div class="home-page__mapsProject--right">
        <div #gmap style="width:100%;height:100%"></div>
      </div>
    </div>

    <div class="home-page__listProjet">
      <div class="home-page__listProjet--results">
        <div class="left">
          <h3 *ngIf="!ufFiltro">Próximos a você: ({{registrosTotais}})</h3>
          <h3 *ngIf="ufFiltro">Projetos em {{ ufFiltro.description }}: ({{registrosTotais}})</h3>

          <div *ngIf="categoriaEscolhida">
            <div class="list-categorias">
              <span [matMenuTriggerFor]="menu2"> {{ buscarCategorias(categoriaEscolhida) }}</span>
            </div>
          </div>

          <div class="list-categorias" *ngIf="!categoriaEscolhida">
            <span [matMenuTriggerFor]="menu2">Todas</span>
           </div>
        </div>
        <div class="right">
          <ul>
            <li [ngClass]="{active: item.id === filtroCategoria}" *ngFor="let item of listCategoriasFiltro"
              (click)="escolherFiltroCategoria(item)">{{ item.nome }}</li>
          </ul>
        </div>
      </div>

      <div class="home-page__listProjet--listCard">
        <div *ngFor="let item of projetos" class="content-card">
          <app-card [projeto]="item"></app-card>
        </div>
      </div>

      <div class="home-page__listProjet--moreRegisters">
        <button mat-raised-button color="primary" (click)="mostrarMaisProjetos()"
          *ngIf="mostrarVerMais && registrosTotais >= 6">
          <span class="material-icons">
            restart_alt
          </span>
          Mostrar mais projeto</button>
      </div>
    </div>
  </div>
</div>


<mat-menu #menu="matMenu" class="">
  <h3 class="title-uf">Filtrar por região</h3>
  <ul class="list-filter-uf">
    <li (click)="filtrarPorUF(null)">Todos os estados</li>
    <li *ngFor="let item of estados" (click)="filtrarPorUF(item)">
      {{ item[0] }}({{ item[1] }})
    </li>
  </ul>
</mat-menu>

<mat-menu #menu2="matMenu" class="">
  <h3 class="title-uf">Filtrar por Categoria</h3>
  <ul class="list-filter-uf">
    <li (click)="mudarCategoriaProjeto(null)">Todos as categorias</li>
    <li *ngFor="let item of categorias" (click)="mudarCategoriaProjeto(item.id)">
      {{ item.title }}
    </li> 
  </ul>
</mat-menu>