mat-toolbar {
  background-color: #342EAD;
  justify-content: space-between;
  margin-bottom: 40px;

  .left {
    h1 {
      color: #fff;
      font-size: 26px;
      text-transform: uppercase;
    }
  }

  .right {
    display: flex;

    .download-app {
      display: flex;
      align-items: center;

      mat-icon {
        color: #fff;
        margin-right: 15px;
      }

      p {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
