<div class="container">
  <div class="pagamento-page">
    <div class="pagamento-page__left">
      <h1>Logo</h1>
    </div>

    <div class="pagamento-page__right">


      <div class="pagamento-page__right--closeProject">
        <span class="material-icons" [routerLink]="['/']" routerLinkActive="router-link-active" >
          cancel
        </span>
      </div>

      <h2>{{ projetoData.title }}</h2>

      <div class="pagamento-page__right--groupLogin">
        <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="selected">
          <mat-tab label="Dados Pessoais">
            <form [formGroup]="dadosPessoais">
              <div class="form-group">
                <mat-icon matPrefix>attach_money</mat-icon>
                <mat-form-field class="example-full-width" appearance="legacy">
                  <input matInput placeholder="Valor da contribuição" currencyMask formControlName="valorContribuicao"
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                  <mat-error *ngIf="checkError('valorContribuicao', 'required')">Valor Pagamento* é obrigatório
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="section-checkbox">
                <mat-checkbox class="example-margin" formControlName="doacaoPlataforma">Desejo doar R$ 10,00 para a
                  plataforma</mat-checkbox> <br>
                <mat-checkbox class="example-margin" formControlName="doacaoMensal">Desejo fazer uma doação Mensal
                  (Recorrente)</mat-checkbox> <br>
                <mat-checkbox class="example-margin" formControlName="anonimo">Quero doar de forma Anônima
                </mat-checkbox> <br>
                <mat-checkbox class="example-margin" formControlName="emailContribuicao">Receber prestação de contas do
                  Projeto por email ao término do projeto</mat-checkbox>
              </div>

              <div class="form-group">
                <mat-icon matPrefix>recent_actors</mat-icon>
                <mat-form-field class="example-full-width" appearance="legacy">
                  <input matInput placeholder="CPF" formControlName="cpf" mask="000.000.000-00">
                  <mat-error *ngIf="checkError('cpf', 'required')">CPF é obrigatório</mat-error>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-icon matPrefix>person</mat-icon>
                <mat-form-field class="example-full-width" appearance="legacy">
                  <input matInput placeholder="Nome completo" formControlName="nomeCompleto">
                  <mat-error *ngIf="checkError('nomeCompleto', 'required')">Nome completo* é obrigatório</mat-error>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-icon matPrefix>email</mat-icon>
                <mat-form-field class="example-full-width" appearance="legacy">
                  <input matInput placeholder="E-mail" formControlName="email">
                  <mat-error *ngIf="checkError('email', 'required')">E-mail* é obrigatório</mat-error>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-icon matPrefix>date_range</mat-icon>
                <mat-form-field class="example-full-width" appearance="legacy">
                  <input matInput placeholder="Data de Nascimento" formControlName="dataNascimento" mask="00/00/0000">
                  <mat-error *ngIf="checkError('dataNascimento', 'required')">Data de nascimento é obrigatória
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-icon matPrefix>phone_iphone</mat-icon>
                <mat-form-field class="example-full-width" appearance="legacy">
                  <input matInput placeholder="Telefone" formControlName="telefone" mask="(00) 00000-0000">
                  <mat-error *ngIf="checkError('telefone', 'required')">Telefone é obrigatório</mat-error>
                </mat-form-field>
              </div>

              <button mat-raised-button color="primary" [disabled]="!dadosPessoais.valid"
                (click)="avancarDadosPagamento()">
                Avançar
                <mat-icon matPrefix>arrow_forward</mat-icon>
              </button>

            </form>
          </mat-tab>
          <mat-tab label="Dados Pagamento" [disabled]="!dadosPessoais.valid">
            <div class="tabs" *ngIf="metodoPagamento !== 3">
              <div class="tab" (click)="escolherMetodoPagamento(0)" [ngClass]="{active: metodoPagamento === 0}">Cartão
                de
                crédito</div>
              <div class="tab" (click)="escolherMetodoPagamento(1)" [ngClass]="{active: metodoPagamento === 1}">
                Pagamento
                Pix</div>
              <div class="tab" (click)="escolherMetodoPagamento(2)" [ngClass]="{active: metodoPagamento === 2}">Boleto
                bancário</div>
            </div>

            <div class="content-pagamento" *ngIf="metodoPagamento === 0">

              <form [formGroup]="dadosCartaoCredito">

                <h3>Dados do cartão</h3>

                <div class="form-group">
                  <mat-icon matPrefix>credit_card</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Número do cartão" formControlName="numeroCartao">
                    <mat-error *ngIf="checkErrorCartao('numeroCartao', 'required')">Número cartão é obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>date_range</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Vencimento" formControlName="vencimento" mask="00/00">
                    <mat-error *ngIf="checkErrorCartao('vencimento', 'required')">Vencimento é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>vpn_key</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="CVV" formControlName="cvv">
                    <mat-error *ngIf="checkErrorCartao('cvv', 'required')">CVV é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>assignment_ind</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Nome" formControlName="nomeCompletoCartao">
                    <mat-error *ngIf="checkErrorCartao('nomeCompletoCartao', 'required')">Nome é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <h3>Endereço de cobrança</h3>

                <div class="form-group">
                  <mat-icon matPrefix>fmd_good</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="CEP" formControlName="cepCartao" mask="00.000-000">
                    <mat-error *ngIf="checkErrorCartao('cepCartao', 'required')">CEP é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>maps_home_work</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Endereço" formControlName="enderecoCartao">
                    <mat-error *ngIf="checkErrorCartao('enderecoCartao', 'required')">Endereço é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>business</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Bairro" formControlName="bairroCartao">
                    <mat-error *ngIf="checkErrorCartao('bairroCartao', 'required')">Bairro é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>add_location</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Complemento" formControlName="complementoCartao">
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>map</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Cidade" formControlName="cidadeCartao">
                    <mat-error *ngIf="checkErrorCartao('cidadeCartao', 'required')">Cidade é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>map</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Estado" formControlName="estadoCartao">
                    <mat-error *ngIf="checkErrorCartao('estadoCartao', 'required')">Estado é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <button mat-raised-button color="primary" (click)="finalizarPagamento(1)"
                  [disabled]="!dadosCartaoCredito.valid">
                  <mat-icon matPrefix>check_circle</mat-icon>
                  Finalizar Pagamento
                </button>

              </form>
            </div>

            <div class="content-pagamento" *ngIf="metodoPagamento === 1">
              <h3 class="title">
                <mat-icon matPrefix>qr_code_scanner</mat-icon> Aponte a câmera do seu celular
              </h3>

              <div class="qr-code-box">
                <div class="left" *ngIf="resultadoPagamento">
                  <qrcode [qrdata]="resultadoPagamento.pix.key" [size]="200" [level]="'M'"></qrcode>

                  <p (click)="copiarPIX()">
                    <mat-icon matPrefix>link</mat-icon> Pix copia e cola
                  </p>
                </div>

                <div class="right">
                  <h4>Valor do pix</h4>
                  <p>{{ dadosPessoais.value.valorContribuicao | currency:'BRL' }}</p>
                </div>
              </div>

              <div class="passo-passo">
                <h5>Como pagar</h5>
                <ul>
                  <li>
                    <span>1</span>
                    <p>Abra o aplicativo que você tem uma chave
                      Pix cadastrada</p>
                  </li>
                  <li>
                    <span>2</span>
                    <p>Acesse a função Pix de aponte a câmera do
                      seu celular para o QR Code</p>
                  </li>
                  <li>
                    <span>3</span>
                    <p>Se preferir, copie e cole o código do Pix no
                      seu aplicativo ou banco online</p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="content-pagamento" *ngIf="metodoPagamento === 2">
              <form [formGroup]="dadosBoleto">
                <h3>Dados de Endereço</h3>

                <div class="form-group">
                  <mat-icon matPrefix>fmd_good</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="CEP" formControlName="cepBoleto" mask="00.000-000">
                    <mat-error *ngIf="checkErrorBoleto('cepBoleto', 'required')">CEP é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>maps_home_work</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Endereço" formControlName="enderecoBoleto">
                    <mat-error *ngIf="checkErrorBoleto('enderecoBoleto', 'required')">Endereço é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>business</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Bairro" formControlName="bairroBoleto">
                    <mat-error *ngIf="checkErrorBoleto('bairroBoleto', 'required')">Bairro é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>add_location</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Complemento" formControlName="complementoBoleto">
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>map</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Cidade" formControlName="cidadeBoleto">
                    <mat-error *ngIf="checkErrorBoleto('cidadeBoleto', 'required')">Cidade é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <mat-icon matPrefix>map</mat-icon>
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <input matInput placeholder="Estado" formControlName="estadoBoleto">
                    <mat-error *ngIf="checkErrorBoleto('estadoBoleto', 'required')">Estado é obrigatório</mat-error>
                  </mat-form-field>
                </div>

                <button mat-raised-button color="primary" [disabled]="!dadosBoleto.valid"
                  (click)="finalizarPagamento(3)">
                  <mat-icon matPrefix>check_circle</mat-icon>
                  Finalizar Pagamento
                </button>
              </form>
            </div>
          </mat-tab>
        </mat-tab-group>



        <div class="conclusaoBoleto" *ngIf="metodoPagamento === 3">
          <h3>
            <mat-icon matPrefix>check_circle</mat-icon> Boleto gerado com sucesso
          </h3>
          <p>Obrigado por ajudar esse projeto e mudar vidas :)</p>
          <ngx-barcode [bc-value]="'23791.2292860009.33030333000.046905788070000000220'" [bc-width]="1"
            [bc-display-value]="true"></ngx-barcode>


          <div class="group-buttons">
            <button mat-raised-button color="primary" [routerLink]="['/']" routerLinkActive="router-link-active">
              <mat-icon matPrefix>public</mat-icon>
              Ajude mais projetos
            </button>

            <button mat-raised-button color="primary" [routerLink]="['/']" routerLinkActive="router-link-active">
              <mat-icon matPrefix>close</mat-icon>
              Fechar
            </button>
          </div>
        </div>

        <div class="conclusaocartao" *ngIf="metodoPagamento === 4">
          <h3>
            <mat-icon matPrefix>warning</mat-icon> Pagamento em análise
          </h3>
          <p>Obrigado por ajudar esse projeto e mudar vidas :) Em breve você será notificado sobre a atualização do
            status do seu pagamento.</p>

          <div class="group-buttons">
            <button mat-raised-button color="primary" [routerLink]="['/']" routerLinkActive="router-link-active">
              <mat-icon matPrefix>public</mat-icon>
              Ajude mais projetos
            </button>

            <button mat-raised-button color="primary" [routerLink]="['/']" routerLinkActive="router-link-active">
              <mat-icon matPrefix>close</mat-icon>
              Fechar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>