.pagamento-page {
  display: flex;

  @media (max-width: 992px) {
    flex-direction: column;
  }

  &__left {
    background-image: url("/assets/img/bg/bg-login.svg");
    background-size: cover;
    background-position: top center;
    padding: 20px 80px;
    width: 50%;

    @media (max-width: 992px) {
      height: 360px;
      width: 100%;
    }

    h1 {
      color: #fff;
      font-size: 24px;
      font-weight: normal;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 80px;
    width: 50%;

    @media (max-width: 992px) {
      width: 100%;
      background-color: #fff;
      margin: -45px 0 0 0;
      border-radius: 35px;
      padding: 20px;
    }

    h2 {
      font-size: 32px;
      margin-bottom: 40px;

      @media (max-width: 992px) {
        font-size: 24px;
      }
    }

    &--closeProject {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 45px;
      color: #757c8a;

      span {
        cursor: pointer;
        font-size: 30px;
      }
    }

    &--socialMedia {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 1px 1px 1px #abb4bd;
        border-radius: 4px;
        height: 35px;
        width: 45%;

        &:hover {
          transform: translateY(-3px);
          transition: all 300ms ease;
        }

        img {
          margin-right: 15px;
        }

        p {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    &--groupLogin {
      form {
        padding: 30px 0;

        .form-group {
          display: flex;
          align-items: center;
          margin-bottom: 8px;

          mat-icon {
            color: #342ead;
            margin-top: -7px;
            margin-right: 12px;
          }
        }

        .forget-password {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 40px;
          margin-top: -20px;

          a {
            color: #342ead;
            font-size: 13px;
          }
        }

        mat-form-field {
          width: 100%;
        }

        button {
          background-color: #342ead;
          color: #fff;
          height: 45px;
          border-radius: 6px;
          width: 100%;

          &:disabled {
            opacity: 0.6;
          }
        }
      }

      .tabs {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .tab {
          position: relative;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          font-size: 12px;
          border: 1px solid #979797;
          border-radius: 6px;
          padding: 14px 16px;
          width: 32%;

          @media (max-width: 992px) {
            text-align: center;
          }

          &.active {
            border: none;
            background-color: #342ead;
            color: #fff;
            font-weight: bold;
          }

          &.disabled {
            opacity: 0.4;
          }

          img {
            position: absolute;
            left: 12px;

            @media (max-width: 992px) {
              height: 20px;
              left: 5px;
            }
          }

          p {
            color: #342ead;
            font-size: 14px;
            font-weight: normal;

            @media (max-width: 992px) {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

.section-checkbox {
  margin-bottom: 20px;
}

.mat-checkbox {
  font-size: 13px;
}

.content-pagamento {
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    margin-top: 26px;

    mat-icon {
      margin-right: 8px;
    }
  }

  .qr-code-box {
    display: flex;
    margin-bottom: 48px;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    .left {
      background-color: #342ead;
      border-radius: 4px;
      padding: 8px 8px 12px 8px;
      margin-right: 16px;

      @media (max-width: 992px) {
        margin-right: 0;
        margin-bottom: 20px;
      }

      qrcode {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
      }

      p {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;

        mat-icon {
          margin-right: 12px;
        }
      }
    }

    .right {
      h4 {
        font-size: 16px;
        font-weight: normal;
        color: #091337;
        margin-bottom: 4px;

        @media (max-width: 992px) {
          text-align: center;
        }
      }

      p {
        color: #1ab882;
        font-weight: bold;
        font-size: 24px;

        @media (max-width: 992px) {
          text-align: center;
        }
      }
    }
  }

  .passo-passo {
    h5 {
      font-size: 16px;
      font-weight: 600;
      color: #2e384d;
      margin-bottom: 16px;
    }

    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #152544;
          font-size: 14px;
          background-color: #eaecf2;
          border: 1px solid #979797;
          height: 32px;
          width: 32px;
          min-width: 32px;
          border-radius: 50%;
          margin-right: 12px;
        }

        p {
          font-size: 14px;
          font-weight: normal;
          color: #091337;
          opacity: 0.8;
        }
      }
    }
  }
}

.conclusaocartao {
  padding-top: 45px;
  margin-bottom: 400px;

  mat-icon {
    margin-right: 8px;
  }

  h3 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffce56;
    text-align: center;
  }

  p {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 30px;
  }

  .group-buttons {
    display: flex;
    justify-content: space-between;

    button {
      background-color: #342ead;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48%;
    }
  }
}

.conclusaoBoleto {
  padding-top: 45px;
  margin-bottom: 400px;

  mat-icon {
    margin-right: 8px;
  }

  h3 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #1ab882;
    text-align: center;
  }

  p {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 30px;
  }

  .copiar-cod {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    font-size: 16px;

    mat-icon {
      margin-left: 8px;
    }
  }

  .group-buttons {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    button {
      background-color: #342ead;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48%;

      @media (max-width: 992px) {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
