<div class="modal">
    <div class="header">
        <img src="/assets/img/bg/welcome.svg" alt="" srcset="">
    </div>

    <div class="body">
        <h3>Olá!</h3>
        <p>Em breve será disponibilizado nas loja do Google e da Apple</p>
    </div>

    <!-- <div class="footer">
        <a href="#">
            <img src="/assets/img/icon/apple.svg" alt="" srcset="">
        </a>

        <a href="#">
            <img src="/assets/img/icon/google-loja.svg" alt="" srcset="">
        </a>
    </div> -->
</div>