
    <div class="modal">
        <div class="header">
            <img src="/assets/img/bg/welcome.svg" alt="" srcset="">
        </div>
    
        <div class="body">
            <h3>SOBRE NÓS</h3>
            <p>Somos um aplicativo com objetivo de levantar recursos e apoio para ongs, como: casa de recuperação, asilos, abrigos, creches e grupo de pessoas que queiram fazer a diferença na vida de outras pessoas que realmente precisam de ajuda. Se você faz a gestão de alguma dessas entidades e possui interesse em levantar recursos ou apoio para seu projeto, envie um email para administrativo@xloto.com.br com um resumo do seu projeto que em breve retornaremos o contato.</p>
        </div>
    
        <!-- <div class="footer">
            <a href="#">
                <img src="/assets/img/icon/apple.svg" alt="" srcset="">
            </a>
    
            <a href="#">
                <img src="/assets/img/icon/google-loja.svg" alt="" srcset="">
            </a>
        </div> -->
    </div>


