<div class="container">
    <div class="footer">
        <div class="left">
            <div class="titulo-logo">
                <div class="logo"></div>
                <h2>Logo</h2>
            </div>
            <p>O (nome do site) é hoje um dos maiores <br> site de projetos online do Brasil. Precisa de algo ? <br>
                Nossa comunidade pode te ajuda.</p>
        </div>

        <div class="right">
            <h3>Links principais</h3>

            <ul>
                <li>Quem Somos</li>
                <li>Fale Conosco</li>
                <li>Politica de Privacidade</li>
            </ul>
        </div>
    </div>

    <div class="sub-footer">
        <p>© 2021 - Todos os direitos reservados</p>
        <ul>
            <li>
                <a href="#">
                    <img src="/assets/img/icon/twiiter-rodape.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/icon/facebook-rodape.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/icon/linkedin-footer.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>