<div class="container">
    <div class="footer">
        <div class="left">
            <div class="titulo-logo">
                <div class="logo"></div>
                <h2>Ajude vidas!</h2>
            </div>
            <p>"A verdadeira religião é cuidar de órfãos e viúvas em suas em suas dificuldades" Tiago 1:27</p>
        </div>


        <div class="center">
            <h3>Aplicativos</h3>

            <ul>
                <li>
                    <a (click)="abrirModalAppLoja()">
                        <img src="/assets/img/icon/apple.svg" alt="" srcset="">
                    </a>
                </li>
                <li>
                    <a (click)="abrirModalAppLoja()">
                        <img src="/assets/img/icon/google-loja.svg" alt="" srcset="">
                    </a>
                </li>
            </ul>
        </div>

        <div class="right">
            <h3>Links principais</h3>

            <ul>
                <li>Quem Somos</li>
                <li>Fale Conosco</li>
                <li>Politica de Privacidade</li>
            </ul>
        </div>
    </div>

    <div class="sub-footer">
        <p>© 2021 - Todos os direitos reservados</p>
        <ul>
            <li>
                <a href="#">
                    <img src="/assets/img/icon/twiiter-rodape.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/icon/facebook-rodape.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/img/icon/linkedin-footer.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>