.footer {
    display: flex;
    background-color: #404040;
    padding: 74px 25px;
    border: 1px solid #545454;

    @media (max-width: 768px) {
        padding: 20px 15px;
        flex-direction: column;
    }

    .left {
        margin-right: 100px;

        
        @media (max-width: 768px) {
            margin-right: 0px;
            margin-bottom: 32px;
        }


        .titulo-logo {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .logo {
                background-color: #342EAD;
                border-radius: 8px;
                height: 40px;
                width: 40px;
                margin-right: 16px;
            }

            h2 {
                color: #fff;
                font-size: 18px;
            }
        }

        p {
            color: #A0A0A0;
            font-size: 14px;
        }
    }

    .center {
        margin-right: 100px;

        
        @media (max-width: 768px) {
            margin-right: 0px;
            margin-bottom: 32px;
        }

        h3 {
            font-size: 16px;
            color: #fff;
            margin-bottom: 24px;
            font-weight: normal;
        }

        ul {
            display: flex;
            list-style: none;

            li {
                margin-bottom: 10px;
                color: #A0A0A0;
                margin-right: 10px;
                font-size: 14px;

                img {
                    width: 120px;
                }
            }
        }
    }

    .right {

        @media (max-width: 768px) {
            display: none;
        }


        h3 {
            font-size: 16px;
            color: #fff;
            margin-bottom: 24px;
            font-weight: normal;
        }

        ul {
            list-style: none;

            li {
                margin-bottom: 10px;
                color: #A0A0A0;
                font-size: 14px;
            }
        }
    }
}

.sub-footer {
    display: flex;
    justify-content: space-between;
    background-color: #404040;
    padding: 53px 25px 53px 25px;

    @media (max-width: 768px) {
        padding: 15px 25px 15px 25px;
        align-items: center;
    }

    p {
        color: #A0A0A0;
        font-size: 14px;
    }

    ul {
        display: flex;
        list-style: none;

        li {
            margin-right: 20px;
        }
    }
}