<div class="historico" *ngIf="historico">


    <div class="nome-autor">
       Conheça os projetos ativos e <br> encerrados de  <strong>{{ nomeAutor }}</strong>
    </div>

    <!-- <div class="nota-autor">
        <span class="material-icons">
            star
        </span>
        <p>{{ notaAutor.toFixed(2) }}</p>
    </div> -->

    <div class="listaHistorico" *ngFor="let item of historico.result">
        <div class="card-data">
            <span [ngClass]="{ativo: item.status === 'A', inativo: item.status === 'F'}"></span>
            <p>{{ formatarData(item.finishDateTime) }}</p>
        </div>

        <div class="card-openClose">
            <span class="material-icons" *ngIf="item.status === 'A'">
                meeting_room
            </span>

            <span class="material-icons" *ngIf="item.status === 'F'">
                sensor_door
            </span>
        </div>

        <div class="card" (click)="irParaProjeto(item)">
            <div class="header">
                <img [src]="item.thumb" alt="" srcset="">
            </div>

            <div class="body">
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
                <div class="info-gerais">
                    <div class="left">
                        <span>
                            {{ procurarCategoria(item.subjectId) }}
                        </span>
                    </div>

                    <div class="right" *ngIf="item.status === 'F'">
                        <span class="material-icons">
                            star
                        </span>
                        <p>{{ item.avaliacoes.media }} ({{item.avaliacoes.qtd}})</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="more-projects">
        <button mat-raised-button color="primary" (click)="adicionarHistorico()">Ver mais projetos</button>
    </div>
</div>