<h3>Prezado Sr.(a)</h3>

<p>Os amigos mais próximos do Sr. Carlos Scarpini vêm, através desta campanha, solicitar contribuições financeiras para
    um procedimento cirúrgico do qual ele necessita urgentemente. </p>
<p>Já contamos com aproximadamente metade do valor necessário e agradecemos de antemão qualquer contribuição que nos
    faça chegar mais próximo do objetivo.</p>
<p>
    O especialista em anatomia de dinossauros Carlos Scarpini, que é formado em história e se dedica ao estudo da
    paleontologia há mais de 30 anos.
</p>
<p>Cao, como gosta de ser chamado, já criou 115 peças, e suas obras estão expostas nos principais museus e institutos de
    pesquisas do Brasil, como no Museu da Geodiversidade da Universidade Federal do Rio de Janeiro e na Universidade de
    São
    Paulo (USP), além de peças em acervos particulares em Portugal e no Canadá.</p>
<p>Ele é um dos principais e um dos mais renomados artistas paleontológicos do Brasil.</p>


